.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #12093e;
}

.header {
  height: 100px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}
